*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-imagem 1s ease;
}
header{
    background-color: rgb(24, 27, 30);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a {
    margin-bottom: 1rem;
    color: aliceblue;
    padding: 2rem;
}
.container{
    background-color: rgb(111, 116, 116);
    border-radius: 15px;
    opacity: 0.6;
    margin-top: 9rem;
    margin-left: 8rem;
    width: 24rem;
    height: 18rem;
    transform: translateY(50px);
    opacity: 0;
    filter: blur(25px);
    transition: opacity 1.5s ease, trasform 1.5s ease;
}
.container.show {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from {
    filter: blur(25px);
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    filter: blur();
    opacity: 1;
    transform: translateY(0);
  }
}

.setas{
    margin-top: 6rem;
    margin-left: 8rem;
}
.setas button{
    
    width: 4rem;
    height: 4rem;
}
footer{
    float: right;
    margin-right: 30rem;
    margin-top: -10rem;
    bottom: 30rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    gap: 15px;
}
.card {
    width: 6rem;
    height: 9rem;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 1s ease-in, opacity 1s ease-in;
    transform-origin: center center;
}

.card.expandir{
    position: relative;
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    transition: all 1s ease;
    transform: scale(1);
    transform-origin: center center;
}
.card.expandir.ativo{
    transform: scale(5);
}