@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
header{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a {
    margin-bottom: 1rem;
    color: aliceblue;
    padding: 2rem;
}
.container{
    position: relative;
    z-index: 90;
    border-radius: 15px;
    margin-top: 9rem;
    margin-left: 8rem;
    width: 50rem;
    height: 16rem;
    transform: translateY(50px);
    opacity: 0;
    filter: blur(25px);
    color: aliceblue;
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.container.show {
  animation: fadeUp 1s ease forwards;
}
.local{
    font-family: "DM Serif Text", serif;
  font-weight: 800;
}
.descricao{
     font-family: "Roboto", sans-serif;
}
@keyframes fadeUp {
  from {
    filter: blur(25px);
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    filter: blur();
    opacity: 1;
    transform: translateY(0);
  }
}

.setas{
    
    margin-top: 6rem;
    margin-left: 8rem;
    position: relative;
    z-index: 10;
}
.setas button{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
}
.setas button:hover{
    background-color: rgba(255, 255, 255, 0.95);
}
#tras i, #frente i{
    transform: scale(1.6);
    opacity: 1;
}
footer{
    float: right;
    margin-right: 30rem;
    margin-top: -10rem;
    bottom: 30rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    gap: 15px;
}
.card {
    width: 6rem;
    height: 9rem;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 1s ease-in, opacity 1s ease-in;
    transform-origin: center center;
}

.card.expandir{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    transition: all 1s ease;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;

}
