*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
header{
    background-color: rgb(24, 27, 30);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a {
    margin-bottom: 1rem;
    color: aliceblue;
    padding: 2rem;
}
.container{
    background-color: aqua;
    opacity: 0.6;
    margin-top: 9rem;
    margin-left: 8rem;
    width: 24rem;
    height: 18rem;
}
.setas{
    margin-top: 6rem;
    margin-left: 8rem;
}
.setas button{
    
    width: 4rem;
    height: 4rem;
}
footer{
    float: right;
    margin-right: 30rem;
    margin-top: -15rem;
    bottom: 30rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    gap: 15px;
}
footer img {

    border-radius: 15px;
}